@use "../../_utils/mixins" as mixins;
@use '../../_utils/functions' as fn;
@use "../../_utils/colors";

.header {
  background-color: white;
  padding-bottom: fn.toRem(10);
  padding-top: fn.toRem(10);

  &__container {
    @include mixins.make-container();
  }

  &__logo {
    .logo {
      align-items: center;
      display: flex;
      text-decoration: none;
      max-width: fn.toRem(220);
      width: 100%;

      img {
        height: fn.toRem(65);
        margin-right: fn.toRem(10);
        width: auto;
      }

      p {
        color: colors.$maastricht-blue;
        font-size: fn.toRem(20);
        font-weight: 600;
        margin-bottom: 0;
      }
    }
  }
}
