.controls {
  column-gap: toRem(18);
  display: flex;

  .icon {
    color: $white !important;
    cursor: pointer;
    display: flex;
    text-decoration: none;

    svg {
      height: toRem(25);
      width: auto;
    }
  }
}
