.table-aera {
  border: 2px solid $granite-gray;
  border-radius: 1.2rem;
  overflow: hidden;
  padding: 0;

  .table {
    thead {
      th {
        color: $white;
        font-weight: 400;
        border: none;
      }
    }

    td {
      border-top: 2px solid $granite-gray;
      border-bottom: none;
      color: $white;
    }
  }
}
